---
---

@import 'fonts';
@import 'media';
@import 'posts';
@import 'post';

body {
  font-family: 'Source Sans Pro';
  font-size: 16px;
}

header {
  h2 {
    letter-spacing: 8px;
    margin-bottom: 50px;

    @include lte-sm-screen {
      margin-bottom: 0;
    }
  }

  a, a:hover {
    text-decoration: none;
  }

  .personal-links {
    margin-top: 23px;

    @include lte-sm-screen {
      margin-top: 5px;
      margin-bottom: 50px;
    }

    img {
      height: 25px;
      width: 25px;
    }
  }
}

a {
  text-decoration: none;
}

a, a:hover {
  color: black;
}
