<header>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-12 col-md-8 col-md-offset-1'>
        <h2><a href='/'>Thoughts About Poptarts</a></h2>
      </div>
      <div class='col-xs-12 col-md-3 personal-links'>
        <a href='https://github.com/austenito'><img src='/assets/images/github.jpg'/></a>
        <a href='https://twitter.com/austenito'><img src='/assets/images/twitter.png'/></a>
        <a href='https://delectable.com/@austenito'><img src='/assets/images/delectable.png'/></a>
      </div>
    </div>
  </div>
</header>
