{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}

<body>
  <header id="header" class="inner">{% include header.html %}</header>
  {% unless page.banner == false %}
  {% include banner.html %}
  {% endunless %}
  <div id="content" class="inner">{{ content | expand_urls: root_url }}</div>
  <footer id="footer" class="inner">{% include footer.html %}</footer>
  {% include after_footer.html %}
</body>
<script type="text/javascript" src="//use.typekit.net/uby6cjl.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script src="javascripts/emojify-cdn.js"></script>
  <script>
    emojify.setConfig({
      emojify_tag_type: "img",
      cdn_host: "http://tortue.me/emoji"
    });
    emojify.run();
  </script>
</html>
