$color-background: #FFF !default;
$color-main: #000 !default;
$color-gray01: #666 !default;
$color-gray02: #999 !default;
$color-gray03: #ccc !default;
$color-gray04: #ddd !default;
$color-gray05: #fff !default;
