$font-default: "museo-slab", sans-serif; 
$font-mono: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;

$font-icon: FontAwesome;
$font-icon-path: "/font/fontawesome-webfont";
