$max-width: 800px;

*{
  margin: 0;
  padding: 0;
}
body{
  font-family: $font-default;
  font-weight: 300;
  font-size: 16px;
  background: $color-background;
  color: $color-main;
  @media screen and (max-width: 1040px){
    margin: 0 20px;
  }
  @media screen and (max-width: 600px){
    font-size: 13px;
  }
}
a{
  text-decoration: none;
  outline-width: 0;
  color: $color-main;
}
.alignleft{
  float: left;
}
.alignright{
  float: right;
}
.clearfix{
  @include pie-clearfix;
}
.inner{
  width: $max-width;
  margin: 0 auto;
  @media screen and (max-width: 1040px){
    width: 100%;
  }
}
