<div id="header">
  <h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
  {% if site.subtitle %}
    <p>{{ site.subtitle }}</p>
  {% endif %}
</div>
<ul id="social-links">
  {% if site.twitter_user %}
    <li><a class="twitter" href="http://twitter.com/{{ site.twitter_user }}" title="Twitter">Twitter</a></li>
  {% endif %}
  {% if site.github_user %}
    <li> <a class="github" href="https://github.com/{{ site.github_user }}" title="GitHub">GitHub</a> </li>
  {% endif %}
</ul>
<div class="clear"></div>
{% include custom/navigation.html %}
